<header class="site__header fix top w100 z10 d-flex bg-blue-dark">
  <nav class="navbar d-flex text-white w100">
    <a class="navbar__logo d-flex" href="#">
      {% include "_svg/wordmark.svg" %}
    </a>
    <div class="navbar__menu d-flex aic">
      <a href="#" class="navbar__link fw-sb">2020 Tourney</a>
      <a href="#" class="navbar__link fw-sb">Friends</a>
      <a href="#" class="navbar__link fw-sb">News</a>
      <a href="#" class="navbar__link fw-sb">About</a>
    </div>
    <div class="navbar__tagline d-flex">
      {% include "_svg/tagline.svg" %}
    </div>
  </nav>
</header>
