.nav {
  display: flex;
  align-items: center;
  color: $white;
  background-color: $blue-dark;
}

.nav__menu {
  display: flex;
  padding-left: 0;
  margin-right: auto;
  list-style: none;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__link {
  padding: 1rem;
  font-weight: 500;
  color: $white;
}

.nav__brand {
  padding: 0 .75rem;
  color: $white !important;
  background-color: $blue-light;

  .svg {
    width: 100px;
  }
}

.nav__tagline {
  margin-right: 1rem;
  color: rgba($white, .6);

  .svg {
    width: 215px;
  }
}
