//
// Wrapper and base class
// ======================

.navbar {
  padding-right: 1em;
}

//
// Logo
// ====

.navbar__logo {
  --navbar-logo-padding: 0.875em 1em;
  --logo-width: 90px;
  --logo-scale: 1;
  --logo-rotate: 0deg;

  &:hover {
    --logo-rotate: -2deg;
  }

  &:active {
    --logo-scale: 1.04;

    .svg--logo {
      transition-duration: 0s;
    }
  }

  @include mq(lg) {
    --logo-width: 104px;
  }

  padding: var(--navbar-logo-padding);
  background-color: $fmaa-blue-light;

  .svg--logo {
    width: var(--logo-width);
    transform: scale(var(--logo-scale)) rotate(var(--logo-rotate));
    @include transition(transform);
  }
}

//
// Menu
// ====

.navbar__menu {
  @include mq(md) {
    margin-left: 0.5rem;
  }

  .navbar__link {
    padding: 0.75em;
  }

  &:hover {
    .navbar__link {
      color: rgba($white, 0.6);

      &:hover {
        color: $white;
      }
    }
  }
}

//
// Tagline
// =======

.navbar__tagline {
  margin-left: auto;
  opacity: 0.4;

  .svg--logo {
    @include mq(md) {
      width: 220px;
    }
  }
}
