.story-card {}




//
// Image
// =====

.story-card__image {}




//
// Content
// =======

.story-card__content {}




//
// Variation: Featured
// ===================

.story-card--featured {

  .story-card__content {
    width: 85%;
    margin-top: -3.4rem;
    padding-top: 1rem;
    padding-right: 1rem;
    z-index: 1;
  }
}




//
// Variation: Teaser
// =================

.story-card--teaser {

}
