<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  {% include '_partials/head' %}
</head>
<body class="{{ bodyClass | default('') }}">
  <header class="header" role="navigation">
    <nav class="nav">
      <ul class="nav__menu">
        <li class="nav__item">
          <a href="#" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">News</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Friends</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Bracket</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">About</a>
        </li>
      </ul>
      <div class="nav__item">
        May the best friend win
      </div>
    </nav>
  </header>
  <main class="main" role="main">
    {% block content %}{% endblock %}
  </main>
  <footer class="footer" role="contentinfo">
    footer
  </footer>
</body>
</html>
