.svg {
  fill: currentColor;
}

.svg--icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  pointer-events: none;
}

.svg--logo {
  // vertical-align: text-bottom;

  &#fmaa-logo {
    .p1 {
      fill: $fmaa-blue-light;
    }

    .p2 {
      fill: $fmaa-blue-dark;
    }
  }
}
